@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hue: 223;
  --bg: hsl(var(--hue), 10%, 90%);
  --fg: hsl(var(--hue), 10%, 10%);
  --trans-dur: 0.3s;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Playfair', sans-serif;
  @apply bg-secondary-300 capitalize;
}

section {
  @apply py-12 md:py-16;
}

/* btn  */

.btn {
  position: relative;
  padding: 0.25rem 3rem;
  font-size: 1.25rem;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 0.25rem;
  overflow: hidden;
  transition: background-color 0.3s;
}

.main-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: left 0.3s;
}

.main-btn:hover::after {
  left: 0;
}

.main-btn .content {
  position: relative;
  z-index: 1;
  transition: color 0.3s;
}

.main-btn:not(:disabled):hover .content {
  color: white;
}

.btn:disabled {
  background-color: #e2e8f0;
  color: rgba(0, 0, 0, 0.3);
  border-color: #e2e8f0;
  cursor: not-allowed;
}

.btn:disabled::after {
  display: none;
}

.input {
  @apply w-full px-4 py-3 border-transparent outline-none rounded-lg text-black text-base;
}

.hero {
  height: calc(100vh - 221px);
}
@media (max-width: 768px) {
  .hero {
    height: 400px;
  }
}
@media (max-width: 526px) {
  .hero {
    height: 300px;
  }
}

.shadow-overlay {
  position: relative;
}

.shadow-overlay::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7),
    transparent
  );
  pointer-events: none;
  z-index: 0;
}

.recipes:hover .card:not(:hover) .img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 100, 47, 0.3);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

/* swiper style  */

.swiper-button-prev,
.swiper-button-next {
  @apply bg-white !w-8 !h-8 md:!w-10 md:!h-10 rounded-full grid place-items-center duration-300  hover:bg-primary;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1rem !important;
  @apply text-primary duration-300;
}

.swiper-button-prev:hover:after,
.swiper-button-next:hover:after {
  @apply !text-white;
}

.swiper-pagination-bullet {
  @apply !w-3 !h-3 rounded-full duration-300 !bg-primary;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-primary;
}

.instructions {
  counter-reset: section;
}
.instructions li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.instructions li::before {
  flex-shrink: 0;
  counter-increment: section;
  content: counter(section);
  font-weight: bold;
  @apply bg-primary text-white;
  text-align: center;
  font-size: 1rem;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
